{% extends "base.html" %}

{% block app_content %}
	<div class="container">
		<h1>Stanford Cleantech Demo Application</h1>
		<div class="row">
			<div class="col-xs-3 col-md-6">
				<h1> </h1>
  			</div>
  			<div class="col-xs-3 col-md-6">
  			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-md-6">
				<h1> </h1>
  			</div>
  			<div class="col-xs-3 col-md-6">
  			</div>
		</div>
		<div class="row">
			<div class="col-xs-3 col-md-6">
				<h1> </h1>
  			</div>
  			<div class="col-xs-3 col-md-6">
  			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="{{ url_for('cleantech') }}" class="thumbnail">
					<img src="{{ url_for('static', filename='cleantech2-tn.png') }}">
				</a>
			</div>
			<div class="col-md-6">
				<h4>Summary: </h4>
				<p>    This application was developed alongside a complete business case for Shell, in the 2020 Stanford Cleantech Hackathon Challenge, that was presented as an opportunity to take advantage of expanding infrastructure of Hydrogen Fuel Cell Vehicles and Transportation in California. The application idea and the project structure were entirely my own design. Implementing frameworks that were fairly novel to me such as Apple MapKit, I was able to create this demo which simulated a range of funcionality. This functionality included locating hydrogen pumps for refueling based on a desired route, paying for access to a fuel pump remotely, managing stop schedules with an itinerary, and rating a driver based on driving performance. The full submission link will be included below with our video presentation, which ultimately led to my teams' selection as winners of the challenge.</p>
				<h4>Tools/Frameworks/Resurces: </h4>
				<p>Swift, Xcode 11 IDE, MapKit API, <a href="https://cafcp.org/stationmap">Hydrogen Pump Data</a>, <a href="https://www.raywenderlich.com/7738344-mapkit-tutorial-getting-started">MapKit Tutorial on RayWenderlich</a></p>
				<h4>Other Links: </h4>
				<p><a href="https://github.com/joefedota/Cleantech">Link to Github Repo</a>, <a href="https://www.stanfordcleantech.com/past-winners?wix-vod-video-id=7446955682c9414086d536594ebdc8f0&wix-vod-comp-id=comp-ka482z3s">Link to Video Submission</a></p>
			</div>
		</div>
	</div>
{% endblock %}